table{
    border-collapse: collapse;
}

td{
    border:1px solid #bbb;
    width:20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #222;
}
td.flag{
    background: red;
}

td.question{
background: orange;
}

td.opened{
background: white;
}

